.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #db3e00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container-poke{
  margin: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cfd8dc;
  height:250px;
  width: 160px;
  border-radius: 15px; 
  grid-column: auto;
  -webkit-box-shadow: 5px 5px 10px 3px #d9d9d9; 
  box-shadow: 5px 5px 10px 3px #d9d9d9;
  padding: 10px;
}
.listado{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.Text-info{
  background-color: #282c34;
  color: #fff;
  height: 25px;
  width: auto;
  padding: 5px;
  border-radius: 15px;
  font-weight: bold;
}
.imgPokemon{
  background-color: #fff;
  width: auto;
  height: auto;
  margin-top: 15px;
  border-radius: 25px;
  opacity: 0.8;
  border-color: #000;
  border-width: 2px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-search{
  margin-top: 15px;
  width: auto;
  height: auto;
  background-color: #db3e00;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 15px;
  border-radius: 15px;
  border-style: none;
  margin: 10px;
}
.btn-search:hover{
  margin-top: 15px;
  width: auto;
  height: auto;
  background-color: #db3e00a8;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 15px;
  margin: 10px;
}
.input-pokemon{
  margin:5px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
  width: 250px;
 
}
